.Y2VudGVy {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: auto;
    height: 100%;
  }
  
  
  .ZmFjZV9pbWdfcmVzaXpl{
    margin-top: -13px;
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  h1{
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
  }
/* -------------------------------------------------------------------------------------------- */
/* :host ::ng-deep .p-button {
  margin: 0 .5rem 0 0;
  min-width: 10rem;
}

p {
  margin: 0;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
} */
