<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

<p-sidebar [(visible)]="visibleSidebar3" position="top" [baseZIndex]="10000" [style]="{height:'50em'}">
    <div style="text-align: center;">
        <input #myinput id="inputSe" class="p-inputtext-sm" type="text" pInputText placeholder="ค้นหาเพื่อน"
            [(ngModel)]="this.search_text" (keydown)="selectFriendSearch($event)"
            style="border-radius: 10px;width: 20%;" />

        <div class="p-grid">

            <div class="p-col"></div>

            <div class="p-col-fixed" style="width: 1000px;">
                <div style="text-align:left;">
                    <br>
                    <p-checkbox [(ngModel)]="friendSelect" [binary]="true"></p-checkbox> เพื่อน &nbsp;
                    <p-checkbox [(ngModel)]="NotfriendSelect" [binary]="true"></p-checkbox> ยังไม่เป็นเพื่อน &nbsp;
                    <p-checkbox [(ngModel)]="SendfriendSelect" [binary]="true"></p-checkbox> ส่งคำขอแล้ว &nbsp;
                    <p-checkbox [(ngModel)]="GroupSelect" [binary]="true"></p-checkbox> กลุ่ม &nbsp;
                </div>
                <br>
                <div style="height: 59vh;overflow: scroll;">
                    <div *ngFor="let friend of this.search_all">
                        <div class="p-grid">
                            <div class="p-col-10">
                                <div class="p-grid">
                                    <div class="p-col-fixed ZWxlbWVudA " style="width:70px;">
                                        <div
                                            style="border-radius: 50%;width: 60px;height: 60px;overflow: hidden;background-color: rgb(255, 255, 255);margin-top: 15px;">
                                            <img *ngIf="friend.img_profile_base64_temp != null" class="Y2VudGVy"
                                                src="http://203.154.83.62:1238/photo/{{friend.u_id}}/profile/{{friend.img_profile_base64_temp}}">
                                            <img *ngIf="friend.img_profile_base64_temp == null" class="Y2VudGVy"
                                                src="http://203.154.83.62:1238/photo/temp/user">
                                        </div>
                                    </div>
                                    <div class="p-col" style="text-align: left;margin-top: 30px;margin-left: 8px;">

                                        <h2>{{friend.name}}</h2>

                                    </div>
                                </div>
                            </div>
                            <div>
                                <ng-container [ngSwitch]="isFriend(friend.u_id,'')">
                                    <ng-container *ngSwitchCase="1">
                                        <button style="margin-top: 30px;" (click)="this.userAddFriend(friend.u_id)"
                                            pButton pRipple type="button" label="เลิกเป็นเพื่อน" icon="pi pi-user"
                                            class="p-button-rounded p-button-danger "></button>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="0">
                                        <button style="margin-top: 30px;" (click)="this.userAddFriend(friend.u_id)"
                                            pButton pRipple type="button" label="ส่งคำขอแล้ว" icon="pi pi-user"
                                            class="p-button-rounded p-button-Primary "></button>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="3">
                                        <button style="margin-top: 30px;" (click)="this.userAddFriend(friend.u_id)"
                                            pButton pRipple type="button" label="เพิ่มเพื่อน" icon="pi pi-user"
                                            class="p-button-rounded p-button-secondary "></button>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="4">
                                        <button style="margin-top: 30px;" (click)="this.userAddFriend(friend.u_id)"
                                            pButton pRipple type="button" label="ตอบรับคำขอ" icon="pi pi-user"
                                            class="p-button-rounded p-button-success "></button>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="p-col"></div>
        </div>
    </div>

</p-sidebar>

<div class="navbar fixed-top" style="background-color: rgb(226, 75, 196);">
    <div class="container" [ngStyle]="setMyStyles()">
        <h1 style="font-size: 35px; margin-top: 10px;">FACESART</h1>

        <input (click)="inputClike(true);myinput.focus()" class="p-inputtext-sm" type="text" pInputText
            placeholder="Search" style="border-radius: 10px;width: 20%;" />

        <div class="p-grid" style="float: right;">

            <a routerLink="/profile">
                <div class="p-col-4"><button style="margin-top: 5px;" pButton pRipple type="button" icon="pi pi-user"
                        class="p-button-rounded p-button-secondary p-button-sm"></button> </div>
            </a>

            <div class="p-col-4"><button style="margin-top: 5px;" pButton pRipple type="button" icon="pi pi-bell"
                    class="p-button-rounded p-button-secondary p-button-sm"  ></button>
                    
                    
            </div>
            <div class="p-col-4"><button style="margin-top: 5px;" pButton pRipple type="button" icon="pi pi-heart"
                    class="p-button-rounded p-button-secondary p-button-sm" (click)="showModalDialog()"></button>

                    <p-dialog header="Log OUT" [(visible)]="displayModal"  [style]="{width: '500px'}" [baseZIndex]="1000">
                        <p class="p-m-0">ต้องการออกจากระบบหรือไม่</p>
                        <ng-template pTemplate="footer">
                            <p-button (click)="displayModal=false" label="No" styleClass="p-button-text"></p-button>
                            <p-button (click)="displayModal=false;logout()" label="Yes" styleClass="p-button-text"></p-button>
                        </ng-template>
                    </p-dialog>
                
            </div>
        </div>
    </div>
</div>