.Y2VudGVy {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: auto;
    height: 100%;
  }
  
  
  .ZmFjZV9pbWdfcmVzaXpl{
    margin-top: -13px;
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  
  button{
    border-radius: 20px;
  }
  .fake-link {
    color: rgb(60, 60, 60);
    cursor: pointer;
  }