<div class="box" style="position: fixed;" >
    <div class="p-grid" >
        <div class="p-col-fixed" style="width: 290px;">
            
            <div class="p-grid" style="background:#3c3c3c; border-radius: 30px;margin-top: 15px;">
                <div class="p-col-8">
                    <div class="p-grid">
                        <div class="p-col-fixed " style="width:70px;">
                            <img class="element" style="border-radius: 50%;width: 50px;height: 50px;"
                                src="https://steamuserimages-a.akamaihd.net/ugc/960852728834729155/A9919256625131414B8E81FB5FE7862912A7923E/"
                                alt="Girl in a jacket">
                        </div>
                        <div class="p-col">
                            <div style="margin-top: 15px;">
                                <h2>สร้างกลุ่ม</h2>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="p-col-4">
                    <div class="element" style="text-align: right;">

                        <i class="pi pi-plus" style="font-size: 2rem;color: snow;"></i>

                    </div>

                </div>

            </div>

            <hr style="margin-top: 10px;background-color: #3c3c3c;">

            <div>

                <div class="p-grid">
                    <div class="p-col-6">
                        <h3>กลุ่ม</h3>
                    </div>
                    <div class="p-col-6" style="text-align: right;">
                        <h3>ดูทั้งหมด</h3>
                    </div>
                </div>





                <div class="p-grid" *ngFor="let groups of this.group" style="margin-top: 0px;">


                    <div class="p-col-fixed " style="width:70px;">
                        <img class="element" style="border-radius: 50%;width: 40px;height: 40px;"
                            src="https://steamuserimages-a.akamaihd.net/ugc/960852728834729155/A9919256625131414B8E81FB5FE7862912A7923E/"
                            alt="Girl in a jacket">
                    </div>

                    <div class="p-col">
                        <div class="element">
                            <h3>{{groups.name}}</h3>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>