<style>
    h5 {
    color: rgb(3, 3, 3);
    text-align: center;
  }
  .div {
    justify-content: center;
  }

</style>


<div class="p-grid">
    <div class="p-col-8">
        
    </div>
    <div class="p-col-4">
        <br><h5>PINTAGRAM</h5><br>
        <div>
            <div>
                <div class="p-field" >
                    <label for="username" >Username</label><br>
                    <input id="username" type="username" size="50" class="div"/><br>
                </div>
                <div class="p-field">
                    <label for="password">Password</label><br>
                    <input id="password" type="password" size="50" /><br> 
                </div>
                <div>
                    <button pButton pRipple type="button" label="Log In" class="p-button-rounded p-button-success"  ></button>&nbsp;
                    <button pButton pRipple type="button" label="Sign In" class="p-button-rounded p-button-danger"></button>
                </div> 
            </div>
        </div>
    </div>
</div>