
<html>
    <body>

        <div class="p-grid">
            <div class="p-col-7" style="background-color: hotpink;">
                
            </div>
            <div class="p-col-5"  >
                
                
                <div class="p-grid">
                    <div class="p-col-2" ></div>
                    <div class="p-col-8" style="height: 100vh;">
                    
                        <div style="margin-top: 50%;">
                            <br><h2 style="text-align: center;">PINTAGRAM</h2><br>

                            <p-card >
                                
                                <br>

                                <div class="p-fluid">
                                    <div class="p-field">
                                        <label for="firstname1">Username</label>
                                        <input id="firstname1" type="text" pInputText> 
                                    </div>
                                    <div class="p-field">
                                        <label for="lastname1">Password</label>
                                        <input id="lastname1" type="text" pInputText> 
                                    </div>

                                    <div class="p-formgroup-inline" style="align-items: center;justify-content: center;">
                                        <div class="p-field">
                                                <button pButton pRipple type="button" label="Log In" class="p-button-rounded p-button-success"></button>    
                                        </div>
                                        <div class="p-field">
                                                <button pButton pRipple type="button" label="Sign In" class="p-button-rounded p-button-danger"></button>
                                        </div>
                                       
                                    </div>
                                    
                                </div>

                                <br>
                            </p-card>

                        </div>
                    
                    
                    </div>
                    <div class="p-col-2"></div>
                </div>
        
        
            </div>
        </div>

    </body>
</html>




