
<p-overlayPanel #op>
    <ng-template pTemplate>
        
    </ng-template>
</p-overlayPanel>

<!doctype html>
<html lang="en">
    
    <!-- <head>
        <meta charset="UTF-8">
        <title>Twitter Card</title>
        <link rel="stylesheet" href="css/estilos.css">
        <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
        <link href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    </head> -->

    <body>
        
        <app-navbar></app-navbar>
 
        <!-- <hr>
        <div style="text-align: center;">
            <button pButton pRipple type="button" label="รูปภาพ"  ></button>
            <button pButton pRipple type="button" label="โพสต์"></button>
            <br><br>
        </div> -->

        <div class="p-grid" style="background-color:rgb(243, 243, 243);">
            <div class="p-col-12">
                <div class="box">
                    <div class="p-grid">
                        <div class="p-col"></div>
                        <div class="p-col-fixed" style="width: 1000px;">
                        <!-- --------------------------------------------- -->
                            <header>
                                <div class="bioo">
                                <img src="https://www.naewna.com/uploads/news/source/490917.jpg" alt="background" class="bg" style="text-align: center;">
                                    <!-- <div class="desc">
                                        <h3>@carlf</h3>
                                        <p>Carl Fredricksen is the protagonist in Up. He also appeared in Dug's Special Mission as a minor character.</p>
                                    </div> -->
                                </div>
                                
                                <div class="avatarcontainer">
                                    <img src="https://cdn.pixabay.com/photo/2020/01/14/10/55/cartoon-4764726_960_720.png" alt="avatar" class="avatar">
                                    <div class="hover"></div>
                                </div>
                    
                    
                            </header>
                    
                            <div class="content">
                                <div class="data">
                                    <span>GroupName</span>
                                    <ul>
                                        <li>🔒 กลุ่มลับ </li>
                                        <li>สมาชิก 10 คน</li>
                                    </ul>
                                </div>
                    
                                <!-- <div class="follow"> <div class="icon-twitter"></div> Follow</div> -->
                            </div>
                       
                            <hr>
                           
                            
                       
                            <div class="p-grid" >
                                    
                                <div class="p-col-9">
                                    <app-pose-group></app-pose-group>
                                </div>
                                <div class="p-col-3">
                                    
                                </div>
                            
                            </div> 
                            

                        </div>
                        <div class="p-col" >
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
    
    
    </body>
</html>
