.grid-container {
    display: grid;
    grid-gap: 50px 10px;
    grid-template-columns: auto 250px 500px auto;
    /* background-color: #2196F3; */
    /* text-align: center; */
    padding: 10px;
  }
  
  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  .item1 {
      /* grid-row-start: 1;
      grid-row-end: 3; */
      /* grid-template-columns: auto auto auto;
      border: 1px solid rgba(0, 0, 0, 0.8); */
      grid-column: 2 / span 2;
      grid-row: 2;
  }

  /* The grid container */
  .grid-container1 {
      display: grid;
      grid-template-areas: 
          'header header header header header header' 
          'left middle middle middle middle right' 
          'footer footer footer footer footer footer';
      /* grid-column-gap: 10px; - if you want gap between the columns */
  } 

  /* Style the left column */
  .left {
      grid-area: left;
  }

  /* Style the middle column */
  .middle {
      grid-area: middle;
  }

  /* Style the right column */
  .right {
      grid-area: right;
  }

  /* Style the footer */
  .footer {
      grid-area: footer;
      /* background-color: #f1f1f1; */
      padding: 10px;
      text-align: center;
  }