

<p-sidebar [(visible)]="visibleSidebar3" position="top" [baseZIndex]="10000" [style]="{height:'50em'}" >
    <div style="text-align: center;">
        <input  class="p-inputtext-sm" type="text" pInputText placeholder="ค้นหาเพื่อน" [(ngModel)]="this.search_text" (keydown)="selectFriendSearch($event)"
        style="border-radius: 10px;width: 20%;" />

        <div class="p-grid">
            
            <div class="p-col" ></div>
            
            <div class="p-col-fixed" style="width: 1000px;" >
                <div style="text-align: left;">
                    <h1>ค้นหาผู้คน</h1>
                </div>
                <div style="height: 59vh;overflow: scroll;">
                    <div *ngFor="let friend of this.search_all">
                        
                        <div class="p-grid"  >

                            <div class="p-col-10" >
                                    <div class="p-grid" >
                                        <div class="p-col-fixed ZWxlbWVudA " style="width:70px;">
                        
                                            <div  style="border-radius: 50%;width: 60px;height: 60px;overflow: hidden;background-color: rgb(255, 255, 255);margin-top: 3px;" >
                                                <img *ngIf="friend.img_profile_base64_temp != null" class="Y2VudGVy" src="http://203.154.83.62:1238/photo/{{friend.u_id}}/profile/{{friend.img_profile_base64_temp}}">
                                                <img *ngIf="friend.img_profile_base64_temp == null" class="Y2VudGVy" src="http://203.154.83.62:1238/photo/temp/user">

                                            </div> 
                                        </div>
                                     
                        
                                        <div class="p-col" style="text-align: left;">
                                            <div class="element">
                                                <h2>{{friend.name}}</h2>
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div>

                            
                            
                            <ng-container [ngSwitch]="isFriend(friend.u_id,'')" >
                                <ng-container *ngSwitchCase="1">
                                    <button style="margin-top: 20px;" (click)="this.userAddFriend(friend.u_id)"  pButton pRipple type="button" label="เลิกเป็นเพื่อน" icon="pi pi-user" class="p-button-rounded p-button-danger "></button>
                                </ng-container>
                                <ng-container *ngSwitchCase="0">
                                    <button style="margin-top: 20px;" (click)="this.userAddFriend(friend.u_id)"  pButton pRipple type="button" label="ส่งคำขอแล้ว" icon="pi pi-user" class="p-button-rounded p-button-Primary "></button>
                                </ng-container>
                                <ng-container *ngSwitchCase="3">
                                        <button style="margin-top: 20px;" (click)="this.userAddFriend(friend.u_id)"  pButton pRipple type="button" label="เพิ่มเพื่อน" icon="pi pi-user" class="p-button-rounded p-button-secondary "></button>
                                </ng-container>
                                <ng-container *ngSwitchCase="4">
                                    <button style="margin-top: 20px;" (click)="this.userAddFriend(friend.u_id)"  pButton pRipple type="button" label="ตอบรับคำขอ" icon="pi pi-user" class="p-button-rounded p-button-success "></button>
                                </ng-container>
                            </ng-container>

                            

                        </div>
                        
                        
                    </div>
                    <hr>
                    </div>
                </div>
            </div>
            <div class="p-col"></div>
        </div>
            

        <!-- <h1 style="font-weight:normal">Top Sidebar</h1>
        <p-button type="button" (click)="visibleSidebar3 = false" label="Save" styleClass="p-button-success"></p-button>
        <p-button type="button" (click)="visibleSidebar3 = false" label="Cancel" styleClass="p-button-secondary"></p-button> -->
    </div>
    
    
   
</p-sidebar>
<!-- 

<p-dialog header="แสดงความคิดเห็น" [(visible)]="display" [modal]="true" [style]="setDialogWidth()" >
    <div class="p-grid">
        <div  class="p-col-12"></div>
        <div  class="p-col-fixed" [ngStyle]="setDialog()" >
            <div class="p-grid" >
                
                <div  class="p-col-8 "   *ngIf="this.innerWidth > 1400">
                    <div  >
                        <div class="box" >

                            <p-card >
                               
                                <div *ngFor="let item of this.pose_all; index as i" >
                                    <div *ngIf="i == this.pose_index_temp">
                                        
                                        <div style="text-align: left;" >
                                            <div class="p-grid">
                                                <div class="p-col-fixed " style="width:70px;">
                                                    <img class="element"
                                                        style="border-radius: 50%;width: 50px;height: 50px;"
                                                        src="https://steamuserimages-a.akamaihd.net/ugc/960852728834729155/A9919256625131414B8E81FB5FE7862912A7923E/">
                                                </div>
                                                
                                                <div class="p-col">
                                                    <div class="element">
                                                        <h3> <a class="fake-link">{{item.name}}</a></h3>
                                                        <p style="color: darkgray;">1 ชัวโมงที่แล้ว</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div style="text-align: left;">
                                            <br>
                                            {{item.Text}} <br>
                                            <div class="p-col-fixed ">
                                                <img 
                                                style="width: 50%;height: 100%;"
                                                    src="http://203.154.83.62:1238/photo/{{item.user_pose_fk}}/{{item.user_upload_img}}">
                                            </div>

                                        </div>
                                        <div style="text-align: left;">
                                            <hr *ngIf="item.like != 0 || item.comment != 0">
                                            <div class="p-grid">
                                                <div *ngIf="item.like != 0" class="p-col-fixed">
                                                    <a class="fake-link">{{item.like}} ถูกใจ</a>
                                                </div>
                                                <div *ngIf="item.comment != 0" class="p-col">
                                                    {{item.comment}} แสดงความคิดเห็น
                                                </div>
                                            </div>


                                        </div>
                                        <div style="text-align: left;">
                                            <hr>

                                            <button *ngIf="item.liked_but == false" (click)="but_like(item.pose_id,i)"
                                                style="width: 50%;" pButton type="button" label="ถูกใจ"
                                                class="p-button-text" icon="pi pi-thumbs-up"></button>
                                            <button *ngIf="item.liked_but == true" (click)="but_like(item.pose_id,i)"
                                                style="width: 50%;" pButton type="button" label="ถูกใจ"
                                                class="p-button-raised" icon="pi pi-thumbs-up"></button>
                                            <button disabled (click)="showDialog();setTempComment(i,item.pose_id)"
                                                style="width: 50%;" pButton type="button" label="แสดงความคิดเห็น"
                                                class="p-button-text" icon="pi pi-comments"></button>

                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                

                            </p-card>
                            



                        </div>

                        
                    </div>
                </div>
                <div  [ngClass]="setDialogRow()">

                    <div
                        style="width: 100%; height: 60vh; overflow-y: scroll; scrollbar-arrow-color:blue; scrollbar-face-color: #e7e7e7; scrollbar-3dlight-color: #a0a0a0; scrollbar-darkshadow-color:#888888">
                       
                        <div class="p-grid"   *ngFor="let comment of this.comment_all" >
                            <div class="p-col"></div>
                            <div class="p-col-fixed " style="width: 50px;">

                                <img style="border-radius: 50%;width: 35px;height: 35px;"
                                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bb013533-7c6b-4c02-8ef9-03de099fbdd5/dd14mzb-973ddfd6-4444-4010-b84f-11522e5a4c5c.png/v1/fill/w_894,h_894,q_70,strp/ricardo_milos_by_allansmejia_dd14mzb-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMDI0IiwicGF0aCI6IlwvZlwvYmIwMTM1MzMtN2M2Yi00YzAyLThlZjktMDNkZTA5OWZiZGQ1XC9kZDE0bXpiLTk3M2RkZmQ2LTQ0NDQtNDAxMC1iODRmLTExNTIyZTVhNGM1Yy5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.7KF-DByWr6gYhlFnpdbEAkdbXuVZrRO6WHm0hqVe9-M"
                                    alt="Girl in a jacket">

                            </div>
                            <div class="p-col-9">
                                <div class="card"
                                style="border-radius: 10px 10px 10px 10px;background-color: rgb(245, 245, 245);border: none;">

                                    <div class="demo-container p-p-2">
                                        <div>
                                            <h3> <b>{{comment.name}}</b> </h3>
                                            
                                        </div>
                                        <div style="margin-top: -20px;">
                                            {{comment.Text}} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-col"></div>


                        </div>

                    
                        <div class="p-grid">

                            <div class="p-col-fixed" [ngStyle]="setCommentPoseStyles()"></div>
                            <div class="p-col-fixed " style="width: 80%;">
                                
                                <textarea [(ngModel)]="comment_text"
                                (keydown.enter)="comment(this.pose_id_temp)" [rows]="1"
                                style="border-radius: 10px 10px 10px 10px;width: 100%;"
                                pInputTextarea 
                                placeholder="แสดงความคิดเห็น"  [autoResize]="this.setButTrue"></textarea>
                                    
                            </div>
                            <div class="p-col-1 " >
                                <button class="element" style="border-radius: 10px 10px 10px 10px;" pButton pRipple
                                    type="submit" icon="pi pi-check"
                                    class="p-button-rounded p-button-outlined"></button>
                            </div>
                            

                        </div>
                    </div>

                </div>
                
            </div>

        </div>
        <div class="p-col-12" ></div>
    </div>
</p-dialog>
 -->

<p-overlayPanel #op>
    <ng-template pTemplate>
        <button (click)="UserLogOut()" >Logout</button>
        
    </ng-template>
</p-overlayPanel>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body >

    <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="this.innerWidth >= 900">
        <div class="container" [ngStyle]="setMyStyles()">
            <h1  style="font-size: 40px;">FacesArt</h1>

            <input (click)="visibleSidebar3 = true" class="p-inputtext-sm" type="text" pInputText placeholder="Search"
                style="border-radius: 10px;width: 20%;" />

            <div class="p-grid" style="float: right;">
                
                <a routerLink="/profile">
                    <div class="p-col-4"><button style="margin-top: 5px;" pButton pRipple type="button" icon="pi pi-user"
                        class="p-button-rounded p-button-secondary p-button-sm"></button> </div>
                </a>
                
                <div class="p-col-4"><button style="margin-top: 5px;" (click)="op.toggle($event)" pButton pRipple
                        type="button" icon="pi pi-bell"
                        class="p-button-rounded p-button-secondary p-button-sm"></button>
                </div>
                <div class="p-col-4"><button style="margin-top: 5px;" pButton pRipple type="button" icon="pi pi-heart"
                        class="p-button-rounded p-button-secondary p-button-sm"></button></div>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="this.innerWidth < 900">
        <div class="container" [ngStyle]="setMyStyles()">

            <input class="p-inputtext-sm" type="text" pInputText placeholder="Search"
                style="border-radius: 10px;width: 30%;" />
            <div class="p-grid" style="float: right;">
                <a routerLink="/profile">
                    <div class="p-col-4"><button style="margin-top: 5px;" pButton pRipple type="button" icon="pi pi-user"
                        class="p-button-rounded p-button-secondary p-button-sm"></button> </div>
                </a>&nbsp;&nbsp;
                <a routerLink="/profile">
                    <div class="p-col-4"><button style="margin-top: 5px;" pButton pRipple type="button" icon="pi pi-user"
                        class="p-button-rounded p-button-secondary p-button-sm"></button> </div>
                </a>&nbsp;&nbsp;
                <a routerLink="/profile">
                    <div class="p-col-4"><button style="margin-top: 5px;" pButton pRipple type="button" icon="pi pi-user"
                        class="p-button-rounded p-button-secondary p-button-sm"></button> </div>
                </a>&nbsp;&nbsp;
                <button style="margin-top: 5px;" pButton pRipple type="button" icon="pi pi-bell"
                    class="p-button-rounded p-button-secondary p-button-sm"></button>&nbsp;&nbsp;
                <button style="margin-top: 5px;" pButton pRipple type="button" icon="pi pi-heart"
                    class="p-button-rounded p-button-secondary p-button-sm"></button>&nbsp;&nbsp;

            </div>
        </div>
    </nav>

    <div class="p-grid"  style="width: 100%;background-color: rgb(243, 243, 243);position: fixed;" [ngStyle]="setDivPoseStyles()">
        <div class="p-col-12">
            <div class="box">
                <div class="p-grid">

                    <div class="p-col"></div>
                    <div class="p-col-fixed" [ngStyle]="setMyStyles()">
                        <div class="p-grid">
                            <div class="p-col" *ngIf="this.innerWidth <= 900 && this.innerWidth > 500" ></div>
                            <div class="p-col" *ngIf="this.innerWidth <= 1250"></div>

                            <div [ngClass]="setMyClassRow()" class="p-col" *ngIf="this.innerWidth > 900" > 
                                <div class="box" >
                                    <div class="p-grid">
                                        <div class="p-col-12 "></div>
                                        <div class="p-col-12">



                                            <div class="p-grid"
                                                style="background: rgb(220, 220, 220); border-radius: 30px;">

                                                <div class="p-col-8">

                                                    <div class="p-grid">
                                                        <div class="p-col-fixed " style="width:70px;">
                                                            <img  class="element"
                                                                style="border-radius: 50%;width: 50px;height: 50px;"
                                                                src="https://steamuserimages-a.akamaihd.net/ugc/960852728834729155/A9919256625131414B8E81FB5FE7862912A7923E/"
                                                                alt="Girl in a jacket">
                                                        </div>
                                                        <div class="p-col">
                                                            <div style="margin-top: 15px;">
                                                                <h1>สร้างกลุ่ม</h1>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="p-col-4">
                                                    <div class="element" style="text-align: right;">

                                                        <i class="pi pi-plus" style="font-size: 2rem;color: snow;"></i>

                                                    </div>

                                                </div>

                                            </div>


                                            <hr>

                                            <div>

                                                <div class="p-grid">
                                                    <div class="p-col-6">
                                                        <h3>กลุ่ม</h3>
                                                    </div>
                                                    <div class="p-col-6" style="text-align: right;">
                                                        <h3>ดูทั้งหมด</h3>
                                                    </div>
                                                </div>



                                              

                                                <div class="p-grid" *ngFor="let groups of this.group"
                                                    style="margin-top: 0px;">


                                                    <div class="p-col-fixed " style="width:70px;">
                                                        <img class="element"
                                                            style="border-radius: 50%;width: 40px;height: 40px;"
                                                            src="https://steamuserimages-a.akamaihd.net/ugc/960852728834729155/A9919256625131414B8E81FB5FE7862912A7923E/"
                                                            alt="Girl in a jacket">
                                                    </div>

                                                    <div class="p-col">
                                                        <div class="element">
                                                            <h3>{{groups.name}}</h3>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>





                                        </div>
                                        <div class="p-col-12"> </div>
                                    </div>



                                </div>
                            </div>

                            <div [ngClass]="setMyClass()" >


                                <div [ngStyle]="setHeightDivauto()" style="height: 500px;overflow-y: scroll;overflow-x: hidden;" >
                                    <div class="box">
                                        <p-card>
                                    
                                            <div class="p-grid">
                                                <div class="p-col-fixed " style="width:70px;" *ngFor="let item of this.profile">
                                                    <div  style="border-radius: 50%;width: 50px;height: 50px;overflow: hidden;background-color: rgb(255, 255, 255);margin-top: 3px;" >
                                                        <img *ngIf="item.img_profile_base64_temp != null" class="Y2VudGVy" src="http://203.154.83.62:1238/photo/{{this.user_id}}/profile/{{item.img_profile_base64_temp}}">
                                                        <img *ngIf="item.img_profile_base64_temp == null" class="Y2VudGVy" src="http://203.154.83.62:1238/photo/temp/user">

                                                    </div> 
                                                </div>
                                                <div class="p-col" >
                                                    <div  *ngFor="let profiles of this.profile" style="line-height: 0px;">
                                                        <h3 class="md-display-3">{{profiles.name}}</h3>
                                                        <p>โพสอะไรหน่อยสิ</p>
                                                    </div>

                                                </div>
                                            </div>


                                                <p-fileUpload 
                                                    *ngIf="this.setUploadShowAndDrop == true"
                                                    (onSelect) = "myUploader($event)"
                                                    (onRemove) = "cen($event)"
                                                    [customUpload]="this.setButTrue" 
                                                    [showCancelButton] = "this.setButFalse"
                                                    [showUploadButton] = "this.setButFalse"
                                                    accept="image/*" 
                                                    [previewWidth] = "100"
                                                ></p-fileUpload>  
                                                

                                            <div style="text-align: left;">
                                                <textarea style="width: 100%" [rows]="4" [autoResize]="this.setButTrue" [(ngModel)]="getTextPose_Temp"  pInputTextarea></textarea>
                                            </div>

                                            <div style="text-align: left;">

                                                <button style="width: 50%;" pButton type="button" label="โพสเลย"
                                                    class="p-button-outlined" (click)="inputPoseUser();this.setUploadShowAndDrop = false"></button>
                                                    
                                                <button (click)="this.setUploadShowAndDropMet()" style="width: 50%;" pButton type="button" label="รูปภาพ/วีดิโอ"
                                                    class="p-button-outlined p-button-success"
                                                    icon="pi pi-image"></button>
                                                    

                                            </div>


                                        </p-card>
                                        <br>
                                        <div *ngFor="let item of this.pose_all_re ; index as i " class="box">

                                            <p-card >
                                                <div style="text-align: left;">
                                                    <div class="p-grid">
                                                        <div class="p-col-fixed " style="width:70px;">
                                                            <div  style="border-radius: 50%;width: 50px;height: 50px;overflow: hidden;background-color: rgb(255, 255, 255);margin-top: 3px;" >
                                                                <img *ngIf="item.img_profile_base64_temp != null" class="Y2VudGVy" src="http://203.154.83.62:1238/photo/{{item.user_pose_fk}}/profile/{{item.img_profile_base64_temp}}">
                                                                <img *ngIf="item.img_profile_base64_temp == null" class="Y2VudGVy" src="http://203.154.83.62:1238/photo/temp/user">

                                                            </div> 
                                                        </div>
                                                        <div class="p-col">
                                                            <div style="line-height: 0px;">
                                                                <h3> <a class="fake-link">{{item.name}}</a></h3>
                                                                <p style="color: darkgray;">1 ชัวโมงที่แล้ว</p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <br>
                                                <div style="text-align: left;" *ngIf="item.Text.length != 0">
                                                    <h3 style="word-wrap: break-word">{{item.Text}}</h3>
                                                </div>

                                                <div  *ngIf="item.user_upload_img != null">
                                                    <img style="width: 110%;height: 110%;margin-left: -25px;"
                                                    src="http://203.154.83.62:1238/photo/{{item.user_pose_fk}}/{{item.user_upload_img}}">
                                                </div>

                                                <div style="text-align: left;">
                                                    <hr *ngIf="item.like != 0 || item.comment_comment_length != 0">
                                                    <div class="p-grid">
                                                        <div *ngIf="item.like != 0" class="p-col-fixed">
                                                            <a class="fake-link">{{item.like}} ถูกใจ</a>
                                                        </div>
                                                        <div *ngIf="item.comment_comment_length != 0" class="p-col">
                                                            <a (click)="showDialog();setTempComment(i,item.pose_id);this.selectComment(item.pose_id,'new')"
                                                                class="fake-link">{{item.comment_comment_length}} แสดงความคิดเห็น</a>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div style="text-align: left;">
                                                    <hr>
                                                    <button *ngIf="item.liked_but == false"
                                                        (click)="but_like(item.pose_id,i)" style="width: 50%;" pButton
                                                        type="button" label="ถูกใจ" class="p-button-text"
                                                        icon="pi pi-thumbs-up"></button>
                                                    <button *ngIf="item.liked_but == true"
                                                        (click)="but_like(item.pose_id,i)" style="width: 50%;" pButton
                                                        type="button" label="ถูกใจ" class="p-button-raised"
                                                        icon="pi pi-thumbs-up"></button>
                                                    <button (click)="showDialog();setTempComment(i,item.pose_id)" style="width: 50%;"
                                                        pButton type="button" label="แสดงความคิดเห็น"
                                                        class="p-button-text" icon="pi pi-comments"></button>

                                                </div>
                                                <hr>
                                                <div style="text-align: left;" *ngIf="comment_allMapIndex.get(item.pose_id)?.length < item.comment_comment_length">
                                                    <a (click)="showDialog();setTempComment(i,item.pose_id);this.selectComment(item.pose_id,'add')"
                                                        class="fake-link"><h3>ดูความคิดเห็นทั้งหมด</h3></a>
                                          

                                                </div>
                                                <!-- คอมเม้น -->
                                                <div class="p-grid" *ngIf="item.comment_comment_length != 0">
                                                    <ng-container *ngFor="let ins of this.comment_allMapIndex.get(item.pose_id)">
                                                    
                                                    <div class="p-col-1"*ngFor="let item of this.profile">
                                                        <div  style="border-radius: 50%;width: 40px;height: 40px;overflow: hidden;background-color: rgb(255, 255, 255);" >
                                                            <img *ngIf="ins.img_profile_base64_temp != null" class="Y2VudGVy" src="http://203.154.83.62:1238/photo/{{ins.user_comment_fk}}/profile/{{ins.img_profile_base64_temp}}">
                                                            <img *ngIf="ins.img_profile_base64_temp == null" class="Y2VudGVy" src="http://203.154.83.62:1238/photo/temp/user">
    
                                                        </div> 
                                                    </div>
                                                    <div class="p-col-11" >  
                                                       

                                                        
                                                            <div class="demo-container p-p-1" style="border-radius: 25px;background-color: rgb(242, 242, 242);">
                                                                <div class="p-grid"style="text-align: left;margin-top: -2px;margin-left: 3px;" >
                                                                    <div class="p-col-fixed" style="width: auto;">
                                                                        <h3 ><b>{{ins.name}}</b> </h3>
                                                                    </div>
                                                                    <div class="p-col" style="color: darkgrey;margin-top: 3px;">
                                                                        <i  class="pi pi-angle-down fake-link" (click)="setoptionConmentsetting(item.c_id)"></i>
                                                                    </div>
                                                                </div>
                                                                <h3 style="word-wrap: break-word;margin-top: -25px;width: auto;margin-left: 10px;">{{ins.Text}}</h3>
                                                            </div>
                                                        </div>
                                                   

                                                    </ng-container> 
                                                </div>
                                                
                                                
                                                
                                                <!-- แสดงความคิดเห็น -->
                                                <div class="p-grid">
                                                    <div class="p-col-fixed " style="width:50px;" *ngFor="let item of this.profile">
                                                        <div  style="border-radius: 50%;width: 40px;height: 40px;overflow: hidden;background-color: rgb(255, 255, 255);" >
                                                            <img *ngIf="item.img_profile_base64_temp != null" class="Y2VudGVy" src="http://203.154.83.62:1238/photo/{{this.user_id}}/profile/{{item.img_profile_base64_temp}}">
                                                            <img *ngIf="item.img_profile_base64_temp == null" class="Y2VudGVy" src="http://203.154.83.62:1238/photo/temp/user">
    
                                                        </div> 
                                                    </div>
                                                    <div class="p-col-fixed " style="width: 83%;">
                                                        
                                                        <textarea [(ngModel)]="comment_text"
                                                            (keydown.enter)="comment(item.pose_id)" [rows]="1"
                                                            style="border-radius: 10px 10px 10px 10px;width: 100%;"
                                                            pInputTextarea 
                                                            placeholder="แสดงความคิดเห็น"  [autoResize]="this.setButTrue"></textarea>
                                                    </div>
                                                    <div class="p-col-fixed " style="width: 8%;">
                                                        <button class="element"
                                                            style="border-radius: 30px 30px 30px 30px;width: 40px;height: 40px;margin-left: -6px;"
                                                            pButton pRipple type="submit" icon="pi pi-send"
                                                            class="p-button-rounded p-button-text p-button-plain"
                                                            (click)="comment(item.pose_id)"></button>
                                                    </div>

                                                </div>


                                            </p-card>
                                            <br>

                                        



                                        </div>
                                        <p-card>
                                            <button class="element"
                                                            style="border-radius: 10px 10px 10px 10px;margin-left: -10px;margin-top: 2px;"
                                                            pButton pRipple type="submit" icon="pi pi-check"
                                                            class="p-button-rounded p-button-outlined"
                                                            ></button>
                                                            <h1>กดโหลดโพตส์เพิ่มเติม</h1>
                                                            
                                        </p-card>
                                        <br>
                                        

                                    </div>
                                   
                                </div>

                            </div>

                            <div class="p-col" *ngIf="this.innerWidth >= 1250">
                                <div class="box" style="position: fixed;">
                                    <div class="p-grid">
                                        <div class="p-col-12 "></div>
                                        <div class="p-col-12">



                                            <div class="p-grid">

                                                <div class="p-col-8">

                                                    <div class="p-grid">
                                                        <div class="p-col-fixed ZWxlbWVudA" style="width:70px;" *ngFor="let item of this.profile">
                                                            <div  style="border-radius: 50%;width: 50px;height: 50px;overflow: hidden;background-color: rgb(255, 255, 255);margin-top: 3px;" >
                                                                <img *ngIf="item.img_profile_base64_temp != null" class="Y2VudGVy" src="http://203.154.83.62:1238/photo/{{this.user_id}}/profile/{{item.img_profile_base64_temp}}">
                                                                <img *ngIf="item.img_profile_base64_temp == null" class="Y2VudGVy" src="http://203.154.83.62:1238/photo/temp/user">

                                                            </div> 
                                                        </div>
                                                        
                                                        <div class="p-col">
                                                            <div *ngFor="let profiles of this.profile" style="line-height: 0px;">
                                                                <h3>{{profiles.name}}</h3>
                                                                <p>{{profiles.name_id}}</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="p-col-4">
                                                    <div class="element" style="text-align: right;">
                                                        <a routerLink="/profile">
                                                            <h3>โปรไฟล์</h3>
                                                        </a>
                                                    </div>

                                                </div>

                                            </div>


                                            <hr>

                                            <div>

                                                <div class="p-grid">
                                                    <div class="p-col-6">
                                                        <h3>เพื่อน</h3>
                                                    </div>
                                                    <div class="p-col-6" style="text-align: right;">
                                                        <h3>ดูทั้งหมด</h3>
                                                    </div>
                                                </div>



                                                <div class="p-grid" *ngFor="let friend of this.friend_all" 
                                                    style="margin-top: 0px;" >

                                                    

                                                        <div class="p-col-fixed ZWxlbWVudA" *ngIf="friend.infa == 1" >
                                            
                                                            <div  style="border-radius: 50%;width: 40px;height: 40px;overflow: hidden;background-color: rgb(255, 255, 255);" >
                                                                <img class="Y2VudGVy" src="http://203.154.83.62:1238/photo/{{friend.u_id}}/profile/{{friend.img_profile_base64_temp}}">
                                                                
                                                            </div> 
                                                        </div>

                                                        <div class="p-col" *ngIf="friend.infa == 1">
                                                            <div class="element">
                                                                <h3>{{friend.name}}</h3>
                                                            </div>
                                                        </div>


                                                    
                                                </div>
                                            </div>





                                        </div>
                                        <div class="p-col-12"> </div>
                                    </div>



                                </div>
                            </div>

                            <div class="p-col" *ngIf="this.innerWidth < 1250"></div>
                            <div class="p-col" *ngIf="this.innerWidth < 900 && this.innerWidth > 500"></div>

                        </div>
                    </div>
                    <div class="p-col"></div>
                </div>
            </div>
        </div>



    </div>
</body>

</html>



<!-- สามารถใช้งาน PrimeFlex ได้แล้ว  -->