.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.ui-menubar  {
  border: 1px solid #aed0ea !important;
  background: #74b2e2  50% 50% repeat-x !important;
  color: #ffffff !important;
  font-weight: bolder !important;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


#cloud-container{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index:-1; /* Remove this line if it's not going to be a background! */
}

.element {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

[contenteditable] {
  outline: 0px solid transparent;
}

html { height:100%; }
body { position:absolute; top:0; bottom:0; right:0; left:0; }
